body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size-responsive: 14px 16px 320px 1920px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  margin: 0;
}

a,
p,
span,
input {
  font-family: var(--secondary-font);
  margin: 0;
}